@import "tailwindcss";

@theme {
  --color-primary: #fe6b46;
  --color-primary-dark: #1e1e2e;
  --color-secondary: #f3f4f6;
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
  font-family: var(--font-sans);
}